/* default Css Code*/
*{
    margin: 0;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    color: rgb(248, 141, 0);
}
/*------Default clear for Float left or Right ------*/
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/*------Fixed Width for page ------*/
.fixwide{

}
body{
    background-color: gray;
}
/*------Start  header section ------*/
.header{
    
}
